</head>
<body>
    <a href="file:///C:/Users/user/Desktop/Web/html/as3/angular/template123/page1.html">
    <button class="back-button" >
        <i class="fa fa-arrow-left back-icon"></i> 
    </button>
    </a>
    <div class="form-container">
       
        <form id="registrationForm" action="file:///C:/Users/user/Desktop/Web/html/as3/angular/template123/page4.html">
            <div class="form-group">
                <label for="firstName" class="required-label">First Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="secondName" class="required-label">Second Name:</label>
                <input type="text" class="form-control" id="secondName" name="secondName" required>
            </div>
            <div class="form-group">
                <label for="username" class="required-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password" class="required-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="required-label">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form-group">
                <label class="required-label" id="education" >Education:</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sslc" name="education" value="sslc">
                    <label class="form-check-label" for="sslc">SSLC</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="plusTwo" name="education" value="plusTwo">
                    <label class="form-check-label" for="plusTwo">Plus Two</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="college" name="education" value="college">
                    <label class="form-check-label" for="college">College</label>
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="required-label">State:</label>
                <select class="form-control" id="state" name="state" required>
                    <option value="">Select State</option>
                    <option value="state1">Kerala</option>
                    <option value="state2">Gujarat</option>
                    <option value="state3">Up</option>
                </select>
            </div>
        </form>
    </div>

    <div class="form-container">
       
        <form id="educationForm">
            <div class="form-group">
                <label for="mobileNumber" class="required-label">Mobile Number:</label>
                <input type="tel" class="form-control" id="mobileNumber" name="mobileNumber" required>
            </div>
            <div class="form-group">
                <label for="address" class="required-label">Address:</label>
                <textarea class="form-control" id="address" name="address" required></textarea>
            </div>
            <div class="form-group">
                <label class="required-label">Gender:</label><br>
                <div class="form-check form-check-inline" id="gender">
                    <input class="form-check-input" type="radio" id="male" name="gender" value="male" required>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="female" name="gender" value="female" required>
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="other" name="gender" value="other" required>
                    <label class="form-check-label" for="other">Other</label>
                </div>
            </div>
        </form>
    </div>

    <div class="center-button">
        <button id="signInButton" class="btn btn-primary" onclick="file:///C:/Users/user/Desktop/Web/html/as3/angular/template123/options.html.html">Sign In</button>
    </div>

    
</body>
</html>
