<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Array Operations</title>
</head>
<body>

    <h2>Array with Properties</h2>

    <label for="array-input">Enter Array:</label>
    <input type="text" id="array-input">
    <button onclick="parseArray()">Array View</button>

    <div id="output-box"></div>

    <button onclick="getArrayLength()">Array Length</button>
    <button onclick="arrayToString()">Array toString</button>
    <button onclick="arrayPop()">Array pop</button>
    <button onclick="addItem()">Array push</button>
    <button onclick="arrayShift()">Array shift</button>
    <br>
    <button onclick="addFrontItem()">Array unshift</button>
    <button onclick="joinArray()">Array join</button>
    <button onclick="deleteItem()">Array delete</button>
    <button onclick="concatArray()">Array concat</button>
    <br>
    <button onclick="flatArray()">Array flat</button>
    <button onclick="spliceArray()">Array splice</button>
    <button onclick="sliceArray()">Array slice</button>

    <script src="script.ts"></script>

</body>
</html>
